.about{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #744c7171;
    width: fit-content;
    padding: 2%;
    border-radius: 26%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #F9E2AF;
    border: 2px solid black;
    text-shadow: 1px 0 10px black;
    transition: 0.5s;
}

.tituloAbout{
    margin: 0;
    font-style: oblique;
}

.about:hover{
    background-color: #8f678c71;
    box-shadow: 0px 0px 15px 2px #646aa867;
}